*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0a0a0a;
    background-image: url(https://imgs.search.brave.com/4ukSRXtIePHs2bsUrt5K-_iQRn9BjKKQUzjR1UXehFw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4z/LnBpeGVsY3V0LmFw/cC9waXhhX2Ntcy9t/ZWRpYS8wOGFkNzhm/My02MmI4LTQ4NmUt/OGQwOC0wOWIxNDA5/YzAwNDRfc2VsbGlu/Z19wb2ludF8yXzY1/NGQwOGFlLndlYnA);
    color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.pagina img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.Pagina{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 500px;
    gap: 20px;
    box-sizing: border-box;
}
.logo{
    max-width: 80%;
    width: 500px;
    height: auto;
    margin-bottom: 20px;
}
p{
    font-weight: bold;
    text-shadow: 1px 1px 0px #0a0a0a;
    font-size: 1.2rem;
    letter-spacing: 3px;
    color: white;
    text-shadow: 1px 1px 0px #0a0a0a;
    margin-bottom: 30px;
    min-height: 1.6rem;
}
#botao-iniciar{
    display: inline-block;
    padding: 15px 40px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    object-fit: cover;
    transition: all 0.3s ease;
}
#botao-iniciar:hover{
    background-color: white;
    transform: scale(1.05);
    color: black;
    cursor: pointer;
}